@import url('css2');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        :root {
            --color: #6b3f6b;
            --background: #ffffff00;
            --size: 2;
            --animation: terminal-blink;
            --primary-bg: #fa9afa;
            --primary-color: white;
        }
        body {
            overflow: visible;
            font-family: 'Orbitron', sans-serif;
            margin: 0;
            background: linear-gradient(to bottom, #6b3f6b, #f4f4f4);
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }
        header {
            color: white;
            padding: 20px;
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }
        
        header h1 {
            font-size: 1.8rem; /* Titre principal légèrement réduit */
        }
        
        header p, .lea-introduction p, .terminal-header {
            font-size: 1rem; /* Uniformité du texte secondaire */
        }
        .lea-introduction {
            text-align: center;
            padding: 15px 30px;
            background: linear-gradient(to bottom, #6b3f6b, #b688be);
            color: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
        .lea-introduction h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        
        .lea-introduction p {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        /* Terminal masqué par défaut */
        .terminal-container {
            width: 100%;
            max-height: 0; /* Hauteur initiale */
            opacity: 0; /* Invisibilité initiale */
            overflow: hidden; /* Empêche le débordement */
            background-color: #000;
            padding: 0 10px; /* Initialement réduit */
            transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.3s ease;
        }

        .terminal-container.active {
            max-height: 100vh; /* Occupe toute la hauteur de la fenêtre */
            height: 40%;
            opacity: 85%; /* Rendu visible */
            padding: 10px; /* Restauration du padding */
            display: flex;
            flex-direction: column; /* Organiser les éléments à l'intérieur en colonne */
            justify-content: flex-start; /* Alignement du contenu */
            position: fixed; /* Fixe le terminal */
            bottom: 0; /* Le colle au bas de la page */
            left: 0;
            width: 100%;
        }

        .terminal-header {
            color: white;
            font-size: 1rem;
            text-align: center;
        }
        .terminal-title {
            font-size: 1rem;
        }
        /* Bouton de contrôle du terminal */
        .terminal-toggle {
            text-align: center;
            margin-bottom: 15px;
        }
        .terminal-toggle button {
            background-color: #6b3f6b;
            font-family: 'Orbitron', sans-serif;
            color: white;
            border: none;
            padding: 12px 24px;
            font-size: 1.2rem;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }
        .terminal-toggle button:hover {
            background-color: #4b374b;
            transform: translateY(-2px); /* Légère élévation au survol */
        }
        .terminal {
            max-height: 100%;
            overflow-y: auto; /* Active le défilement interne si nécessaire */
            padding: 5px;
            color: #fff; /* Couleur de texte */
            font-family: monospace; /* Assurez-vous que la police est adaptée */
            line-height: 1.5;
        }
        
        .docs {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%; 
        max-width: 850px; 
        height: 80vh; 
        padding: 20px;
        background-color: #ffffff;
        color: #000;
        border: 1px solid #6b3f6b;
        border-radius: 5px;
        box-shadow: 0 4px 8px #6b3f6b(0, 0, 0, 0.2);
        z-index: 100;
        overflow-y: auto;
        text-align: right;
    }
    .docs-content {
        max-height: 100%; 
    }
    .close-button-docs {
    cursor: pointer;
    padding: -5px;
    color: #333;
    font-weight: bold;
    position: sticky;
    top: 0;  
    right: -20px; 
    z-index: 101; 
}

        .endpoint {
            visibility: hidden;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 95%;
            max-width: 1400px;
            height: 87vh;
            padding: 30px;
            background-color: #ffffff;
            color: #000;
            border: 1px solid #fa9afa;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(250, 159, 250, 0.2);
            z-index: 100;
            overflow-x: hidden; 
            overflow-y: auto;  
            display: flex;
            flex-direction: column;
            justify-content: flex-start; 
            font-family: monospace;
            
        }
        .endpoint-content {
            max-height: 100%;
        }
        .close-button {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 2px;   
    right: 2px; 
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
    z-index: 101;  
}

        .choice-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 20px;
            align-items: center;
        }
        .choice-button {
            padding: 12px 20px;
            background-color: #da97da;
            border: 2px solid #da97da;
            color: var(--primary-color);
            cursor: pointer;
            font-size: 1.2em;
            margin: 5px;
            text-align: center;
            transition: all 0.3s ease;
            flex: 1 1 150px;
            min-width: 120px;
        }

        .choice-button2 {
    padding: 12px 20px;
    background-color: #795379;
    border: 2px solid #795379;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px;
    text-align: center;
    transition: all 0.3s ease;
    flex: 1 1 150px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.choice-button3 {
    padding: 12px 20px;
    background-color: #795379;
    border: 2px solid #795379;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px;
    text-align: center;
    transition: all 0.3s ease;
    flex: 0 1 100px; 
    min-width: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.choice-button.active {
    background-color: #da77da;
    border-color: #da77da;
}


.choice-button:not(.active):hover {
    background-color: #da77da;
    border-color: #da77da;
}


.choice-button.active:hover {
    background-color: #da77da;
    border-color: #da77da;
}


.choice-button:active {
    background-color: #da97da;
    border-color: #da97da;
}



.choice-button2:hover {
    background-color: #4b374b;
    border-color: #4b374b;
}

.choice-button2:active {
    background-color: #795379;
    border-color: #795379;
    transform: translateY(0);
}

.choice-button3:hover {
    background-color: #4b374b;
    border-color: #4b374b;
}

.choice-button3:active {
    background-color: #795379;
    border-color: #795379;
    transform: translateY(0);
}

.choice-button3 svg {
    width: 21px; 
    height: 21px; 
    fill: #fff;  
}

button:focus {
    outline: 2px solid #fa9afa;
    outline-offset: 2px;
}

        .center-phrase {
            font-size: 1.5rem;
            text-align: center;
            color: #795379;
            margin-top: 20px;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1; 
            font-family: monospace;
        }

        .data-container {
            margin-top: 10px;
            padding: 10px;
            border: none; 
            background-color: #f6ddef;
            max-height: 70vh;
            overflow-x: hidden; 
            overflow-y: auto;
        }
        
        .data-item {
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            font-size: 0.9rem;
        }
        .data-item p {
            margin: 5px 0;
        }
        .data-item span {
            font-weight: bold;
        }
        .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap; 
}

        #searchInput {
    padding: 13px 12px 15px 12px;
    font-size: 1em;
    border: 2px solid #ccc;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    flex: 2 1 300px; 
    min-width: 15px; 
}
        #searchInput:focus {
            border-color: var(--primary-bg);
            outline: none;
        }
        .highlight {
            background-color: pink;
            color: black;
            font-weight: bold;
        }

      
        ::-webkit-scrollbar {
            width: 10px;
        }
        
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        ::-webkit-scrollbar-thumb {
            background: #795379;
            border-radius: 5px;
        }

::-webkit-scrollbar-thumb:hover {
    background-color: #795379; 
}


.endpoint, .docs, .terminal-container, .data-container {
    scrollbar-color: #795379 #f1f1f1;  
    scrollbar-width: thin;  
}


#reflectionVideo {
    display: none;  
    position: fixed;  
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    object-fit: cover;
    z-index: 9999;  
}


@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
        padding: 5px;
    }

    header h1 {
        font-size: 1.4rem;
    }

    .lea-introduction {
        font-size: 0.9rem;
        padding: 8px;
    }

    main video {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .social-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .social-buttons button {
        flex: 1 1 calc(50% - 10px);
        font-size: 0.8rem;
        padding: 8px;
    }

    .video-controls-vertical {
        position: absolute;
        bottom: 10px;
        right: 5px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    #muteButton {
        bottom: 15px; /* Ajuste la position pour les petits écrans */
        right: 10px;
        font-size: 0.7rem; /* Réduit encore la taille pour les mobiles étroits */
        padding: 6px 8px; /* Réduit la taille du bouton */
    }

    #volumeSlider {
        display: none;
    }

    .solana-contract {
        font-size: 0.7rem;
        padding: 6px 8px;
        margin-top: 10px;
    }
}


@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header h1 {
        font-size: 1.4rem;
    }

    .lea-introduction {
        padding: 10px 15px;
        font-size: 1rem;
    }

    .solana-contract {
        font-size: 0.7rem;
        font-size: 0.95rem;
        padding: 8px 10px;
    }

    .video-controls-vertical {
        right: 8px;
        bottom: 10px;
        flex-direction: column;
        gap: 12px;
    }

    #muteButton {
        padding: 8px 10px;
        font-size: 0.8rem;
    }

    #volumeSlider {
        width: 90px;
    }
}


@media screen and (max-width: 850px) {
    :root {
        --size: 1.7;
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
        font-size: 15px;
    }

    header h1 {
        font-size: 1.6rem;
    }

    .solana-contract {
        font-size: 1rem;
        padding: 10px 12px;
        max-width: 85%;
    }

    .video-controls-vertical {
        right: 10px;
        top: 40%;
        transform: translateY(-40%);
        gap: 15px;
    }
}


@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
        padding: 5px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .lea-introduction h2 {
        font-size: 1.1rem;
    }

    .social-buttons button {
        font-size: 0.75rem;
        padding: 5px 6px;
    }

    .video-controls-vertical {
        right: 5px;
        bottom: 8px;
        gap: 8px;
    }

    #muteButton {
        bottom: 10px;
        right: 5px; /* Réduit l'espace à droite */
        font-size: 0.6rem; /* Réduction supplémentaire pour les très petits écrans */
        padding: 5px 6px;
    }

    #volumeSlider {
        display: none;
    }

    .solana-contract {
        font-size: 0.èrem; /* Réduit encore la taille de la police */
        padding: 6px 8px; /* Réduit davantage l’espace intérieur */
        max-width: 90%; /* S’assure que l’adresse reste bien centrée */
        word-break: break-word; /* Coupe les mots trop longs */
    }
}

/* Boutons sociaux */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main video {
    width: 100%;
    max-width: 850px;
    margin: 15px auto;
    border: 3px solid #6b3f6b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 30px;
}
main video:hover {
    box-shadow: 0 0 25px rgba(107, 63, 107, 0.8);
}
.social-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.social-buttons button {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Hauteur uniforme */
    min-width: 120px; /* Largeur minimale uniforme */
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #795379;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-sizing: border-box; /* Inclut le padding dans la hauteur/largeur */
}

.social-buttons button img.button-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.social-buttons button i {
    font-size: 1.2rem;
    margin-right: 8px;
}

.social-buttons button:hover {
    background-color: #4b374b;
    transform: scale(1.05);
}

footer {
    width: 100%;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que la vidéo couvre toute la fenêtre */
    z-index: -1; /* Place la vidéo en arrière-plan */
}

header, main, footer {
    position: relative;
    z-index: 1; /* Garantit que le contenu est au-dessus de la vidéo */
    background: transparent; /* Rendre le fond transparent si besoin */
}

.video-controls-vertical {
    display: flex;
    flex-direction: column-reverse; /* Inverse l'ordre des éléments pour mettre le bouton en bas */
    align-items: center;
    position: absolute;
    top: 50%;
    right: -17%; /* Ajuste la position à droite de la vidéo */
    transform: translateY(-35%); /* Centrage parfait sur l'axe Y */
    gap: 85px; /* Espacement entre le bouton et le slider */
}

#muteButton {
    font-family: 'Orbitron', sans-serif;
    padding: 10px 17px;
    margin-bottom: 20px;
    background-color: #795379;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#muteButton:hover {
    background-color: #4b374b;
    transform: scale(1.1);
}

#volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 155px; /* Largeur avant rotation */
    height: 10px; /* Épaisseur de la barre */
    background: linear-gradient(to right, #795379, #fa9afa); /* Dégradé */
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
    transform: rotate(270deg); /* Oriente verticalement */
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #795379;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

#volumeSlider::-webkit-slider-thumb:hover {
    background: #fa9afa;
    transform: scale(1.2);
}

#volumeSlider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: #795379;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

#volumeSlider::-moz-range-thumb:hover {
    background: #fa9afa;
    transform: scale(1.2);
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

nav {
    position: sticky;
    top: 0;
    background-color: #6b3f6b;
    z-index: 100;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

.solana-contract {
    margin-top: 30px;
    text-align: center;
    font-size: 1.3rem;
    color: #795379;
    cursor: pointer;
    background: rgba(250, 154, 250, 0.1);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
    max-width: 90%; /* Limite la largeur */
    margin-left: auto; /* Centre horizontalement */
    margin-right: auto;
    word-wrap: break-word; /* Permet de couper les lignes si nécessaire */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optionnel pour un effet d'ombre */
}

.solana-contract span {
    display: inline-block;
    word-wrap: break-word; /* Coupe les lignes longues */
    overflow-wrap: break-word;
}

.solana-contract:hover {
    background: rgba(250, 154, 250, 0.2);
    color: #6b3f6b;
}
